.DS_Store
*.swp

/compiler_wrapper
/config*
/fink
/fink-dpkg-status-cleanup
/fink-virtual-pkgs
/fink-instscripts
/fink-scanpackages
/fink.8
/fink.conf.5
/pathsetup.command
/pathsetup.sh
/postinstall.pl
/shlibs.default
/dpkg-lockwait
/apt-get-lockwait
/g++-wrapper-3.3
/g++-wrapper-4.0
/perlmod/Fink.pm
/perlmod/Fink/FinkVersion.pm
/t/basepath/etc/apt/sources.list
/t/basepath/etc/apt/sources.list.finkbak
